@charset "utf-8";
/* CSS Document */
.documentos{
	
	 border:solid 14px  #435c84;
	 background:rgba(65, 139, 202, 0.38);
	 width:50%;
	 padding:10px 5px 15px 5px;
	 border-radius:4px;
	 -webkit-border-radius:4px;
     -moz-border-radius:4px; 
	 
	 
	 -webkit-box-shadow: 10px 10px 52px -15px rgba(6,100,163,1);
     -moz-box-shadow: 10px 10px 52px -15px rgba(6,100,163,1);
      box-shadow: 10px 10px 52px -15px rgba(6,100,163,1);
	
}


.documentos label{
    display:block;
    margin-bottom: 10px;
}
.documentos label > span{ 
    float: left;
    width: 100px;
    color: #F072A9;
    font-weight: bold;
    font-size: 13px;
    text-shadow: 1px 1px 1px #fff;
}
/* CAJA DE EMPLEADOS  QUE CONTIENE */
.documentos fieldset{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
	
    margin: 0px 0px 10px 0px;
    border: 1px solid #435C84;
    padding: 20px;
    background: #FFF4F4;
	
    box-shadow: inset 0px 0px 15px #AAC7DF;
    -moz-box-shadow: inset 0px 0px 15px #AAC7DF;
    -webkit-box-shadow: inset 0px 0px 15px #FFE5E5;
}

/*FIN CSS LIENAS CASA*/

/*CSS DE ICONO QUE DICE EMPLEADOS CSS  ESTILO ETIQUETA*/

.documentos fieldset legend{
    color: #223D68;
    border-top: 1px solid #435C84;
    border-left: 1px solid #435C84;
    border-right: 1px solid #435C84;
	
    border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
	
    background: #FFF4F4;
    padding: 0px 8px 3px 8px;
    box-shadow: -0px -1px 2px #F1F1F1;
    -moz-box-shadow:-0px -1px 2px #F1F1F1;
    -webkit-box-shadow:-0px -1px 2px #F1F1F1;
    font-weight: normal;
    font-size: 20px;
}

/* FIN CSS DE ICONO QUE DICE EMPLEADOS CSS  ESTILO ETIQUETA*/

.documentos input[type=text],
.documentos input[type=date],
.documentos input[type=file],
.documentos select, 
.documentos textarea{
	
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
	
    border: 1px solid #AAC7DF;
    outline: none;
    color: #435C84;
    padding: 5px 8px 5px 8px;
	
    box-shadow: inset 1px 1px 4px #99D5FF
    -moz-box-shadow: inset 1px 1px 4px #99D5FF;
    -webkit-box-shadow: inset 1px 1px 4px #99D5FF;
	
    background: #EFF4F9;
    width:60%;
}


/*css botones  del formulario */
.documentos  input[type=submit],
.documentos  input[type=button]{
    background: #435C84;
    border: 1px solid #418BCA;
    padding: 5px 15px 5px 15px;
    color: #FFF;
	
    box-shadow: inset -1px -1px 3px #A7C4DC;
    -moz-box-shadow: inset -1px -1px 3px #A7C4DC;
    -webkit-box-shadow: inset -1px -1px 3px #A7C4DC;
	
    border-radius: 3px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;    
    font-weight: bold;
}

/*cuando pongamos el maus encima del boton */
.documentos  input[type=submit]:hover,
.documentos  input[type=button]:hover{
    background: #418BCA;
    border: 1px solid #435C84;
    padding: 5px 15px 5px 15px;
    color: #FFF;
	
    box-shadow: inset -1px -1px 3px #A7C4DC;
    -moz-box-shadow: inset -1px -1px 3px #A7C4DC;
    -webkit-box-shadow: inset -1px -1px 3px #A7C4DC;
	
    border-radius: 3px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;    
    font-weight: bold;
}

