@charset "utf-8";
/* CSS Document */
.empleados{
	
	 border:solid 10px  #435c84;
	 background:rgba(65, 139, 202, 0.38);
	 width:100%;
	 padding:3% 3% 3% 3%;
	 border-radius:1%;
	 -webkit-border-radius:1%;
     -moz-border-radius:1%; 
	 
	 
	 -
	
}


.empleados label{
    display:block;
    margin-bottom: 1%;
}
.empleados label > span{
    float: left;
    width: 100%;
    color: #F072A9;
    font-weight: bold;
    font-size: 13px;
    text-shadow: 1px 1px 1px #fff;
}
/* CAJA DE EMPLEADOS  QUE CONTIENE */
.empleados fieldset{
    border-radius: 2%;
    -webkit-border-radius: 2%;
    -moz-border-radius:2%;
	
    margin: 0% 0% 5% 0%;
    border: 1px solid #435C84;
    padding: 5%;
    background: #e2e9ef;
	
    box-shadow: inset 0% 0% 15% #AAC7DF;
    -moz-box-shadow: inset 0% 0% 15% #AAC7DF;
    -webkit-box-shadow: inset 0% 0% 15% #FFE5E5;
}

/*FIN CSS LIENAS CASA*/

/*CSS DE ICONO QUE DICE EMPLEADOS CSS  ESTILO ETIQUETA*/

.empleados fieldset legend{
    color: #223D68;
    border-top: 1px solid #435C84;
    border-left: 1px solid #435C84;
    border-right: 1px solid #435C84;
	
    border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
	
    background: #FFF4F4;
    padding: 0% 8% 3% 8%;
    box-shadow: -0px -1px 2px #F1F1F1;
    -moz-box-shadow:-0px -1px 2px #F1F1F1;
    -webkit-box-shadow:-0px -1px 2px #F1F1F1;
    font-weight: normal;
    font-size: 15px;
}

/* FIN CSS DE ICONO QUE DICE EMPLEADOS CSS  ESTILO ETIQUETA*/

.empleados input[type=text],
.empleados input[type=date],
.empleados input[type=datetime],
.empleados input[type=number],
.empleados input[type=search],
.empleados input[type=time],
.empleados input[type=url],
.empleados input[type=email],
.empleados input[type=tel],
.empleados select, 
.empleados textarea{
    border-radius: 3%;
    -webkit-border-radius: 3%;
    -moz-border-radius: 3%;
	
    border: 1px solid #AAC7DF;
    outline: none;
    color: #435C84;
    padding: 2% 8% 2% 2%;
	
    box-shadow: inset 1px 1px 4px #99D5FF
    -moz-box-shadow: inset 1px 1px 4px #99D5FF;
    -webkit-box-shadow: inset 1px 1px 4px #99D5FF;
	
    background: #EFF4F9;
    width:80%;
}


/*css botones  del formulario */
.empleados  input[type=submit],
.empleados  input[type=button]{
    background: #435C84;
    border: 1% solid #418BCA;
    padding: 3% 3% 3% 3%;
    color: #FFF;
	
    box-shadow: inset -1px -1px 3px #A7C4DC;
    -moz-box-shadow: inset -1px -1px 3px #A7C4DC;
    -webkit-box-shadow: inset -1px -1px 3px #A7C4DC;
	
    border-radius: 8%;
    border-radius: 8%;
    -webkit-border-radius: 8%;
    -moz-border-radius: 8%;    
    font-weight: bold;
}

/*cuando pongamos el maus encima del boton */
.empleados  input[type=submit]:hover,
.empleados  input[type=button]:hover{
    background: #418BCA;
    border: 1% solid #435C84;
     padding: 3% 3% 3% 3%;
    color: #FFF;
	
    box-shadow: inset -1px -1px 3px #A7C4DC;
    -moz-box-shadow: inset -1px -1px 3px #A7C4DC;
    -webkit-box-shadow: inset -1px -1px 3px #A7C4DC;
	
    border-radius: 8%;
    border-radius: 8%;
    -webkit-border-radius: 8%;
    -moz-border-radius: 8%;    
    font-weight: bold;
}


