@charset "utf-8";
/* CSS Document */
/*caja vacia para cuadrar en interface de usuario  las otras cajas que queden centradas*/
.ninguna{
	   width: 200px;
    height: 300px;
    overflow: hidden;
    position: relative;
    float: left;
    margin-right: 4px;
    
}

#titulo span{
	color:#F00;
	font-weight:1500;
	font-size:45px;
	
}

/*modulos menu*/
.ca-menu{
    padding: 0;
    margin: 20px auto;
    width: 1070px;
}

.ca-menu li{
    width: 200px;
    height: 300px;
    overflow: hidden;
    position: relative;
    float: left;
    border: 5px solid #fff;
    background: #e2f0ff;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    margin-right: 4px;
    transition: all 300ms linear;
}
.ca-menu li:last-child{
    margin-right: 0px;
}

.ca-icon {
     font-family : 'WebSymbolsRegular' , cursive  ;
     color : #c5e4f4  ;
     font-size : 90px  ;
     text-shadow : 1px 0px 1px rgba ( 255 , 255 , 255 , 0.7 )     ;
     line-height : 150px  ;
     position : absolute ;
     width : 100%  ;
     height : 50%  ;
     left : 0px  ;
     top : 0px  ;
     text-align : center ;
     transition : all 200ms linear ;
 }
 
 .ca-content{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 50%;
    top: 50%;
}

.ca-main{
    font-size: 30px;
    color: #005382;
    opacity: 0.8;
    text-align: center;
    transition: all 200ms linear;
}
.ca-sub{
    text-align:center;
    font-size: 14px;
    color: #666;
    line-height: 40px;
    opacity: 0.8;
    transition: all 200ms linear;
}

/*cuando pongamos el maus encima*/
.ca-menu li:hover{
    background-color: #fff;
}
.ca-menu li:hover .ca-icon{
    text-shadow: 0px 0px 20px #c5e4f4;
    color: transparent;
    animation: moveFromTop 400ms ease;
}
.ca-menu li:hover .ca-main{
    color: #000;
    animation: moveFromTop 300ms ease;
}
.ca-menu li:hover .ca-sub{
    color: #000;
    animation: moveFromBottom 500ms ease;
}

/* Animaciones de los modulos*/
@keyframes moveFromBottom {
    from {
        opacity: 0;
        transform: translateY(200%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes moveFromTop {
    from {
        opacity: 0;
        transform: translateY(-200%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}