@charset "utf-8";
/* CSS Document */

/*cuerpo */

body{ margin:0;
      font-family:Arial, Helvetica, sans-serif;
	  font-size:16px;
	 
		}
			
			
			#wrapper {
				margin:0;
				width:200px;
			    font-family: 'Vollkorn', serif;
				font-style:oblique;
		        background:#428bca;
				height:100%;
				font-size:18px;
				z-index:2;
				
			}
			
			
			 /*ENCABEZADO HEADER*/
 
header{
	background-color:#06C ;
	height:40px;
	width:100%;
	
	
	}
	
header .rh{
	margin-left: 5%;
	size:20px;
	color:#000
}
header .rh span{
	color:#F00
}

header #logo{
	width:50px;
	margin-left:50px;
	
}

/*BOTON DE APAGAR*/
.apagar:hover{
	opacity:0;filter:alpha(opacity=0);

}



/*nombre del usuario ** usuar */
.nombre{
	color:#FFF;
	font-size:20px;
	 padding-top:6px;
}

#usuar{
	/*float:left;*/
	top:-5px;
	left:80%;
	position:absolute;
    z-index:2;
	list-style:none;
	padding:0px;
	display:block;
	list-style:none;
}

/*SuB MENU DE  HEADER */
#usuar  a {
	color:#fff;
	 text-decoration:none;
	
		}
	
#usuar 	ul {
	display:block;
	list-style:none;
}

	
	/*submenu usuario*/

#usuar 	 li ul {
	display:none;
	list-style:none;
	padding:0px;
	height:100px;
	min-width:140px;
	list-style:none;

}
#usuar li:hover ul{ 
               display:block;
               background-color:#418bca ;
				color:#fff;
			
				min-width:140px;
				
				text-decoration:none;
				display:block;
							
				border-bottom: 1px solid #4fa1eb;
               -webkit-box-shadow: inset 0px 1px 0px 0px #99D5FF;
               -moz-box-shadow: inset 0px 1px 0px 0px #99D5FF;
                box-shadow: inset 0px 1px 0px 0px #99D5FF;
				
}
	
	#usuar li ul li:hover{ 
             background:#00337f;
             border-bottom: 1px solid #4fa1eb; 
            min-width:140px;
             height: 2.05em;
             line-height: 2.05em;  
			           
             position: relative;
             font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
             font-size: 18px;
             font-weight: 400;  
             color: #FFF; 
			 
			 
}
#usuar li ul li { 
             background:#0066CC;
             border-bottom: 1px solid #418bca; 
            min-width:140px;
             height: 2.05em;
             line-height: 2.05em;  
			           
             position: relative;
             font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
             font-size: 18px;
             font-weight: 400;  
             color: #FFF; 
			
			 
}
	
	
/*FIN DE HEADER*/



	/*LOGO  DE DIAGNOSTICOS E IMAGENES */	
	
	#Logo2{
		margin-top:60px;
			
		}
			
   /*LOGO FIN DE DIAGNOSTICOS E IMAGENES */ 
			
			
			
/* CSS MENU */

           nav{
			   padding-top:45px;   
		   }

			ul, ol {
				display:block;
			}
			
			nav > li {
			display:block;
			}
			
			nav li a {
				background-color:#418bca   /*428bca*/;
				color:#fff;
				/* Si qeueremos meter estilo con   degradado 
				background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(1, 124, 165)),to(rgb(0, 153, 204)));
                background-image: -webkit-linear-gradient(top, rgb(1, 124, 165), rgb(0, 153, 204));
                background-image: -moz-linear-gradient(top, rgb(1, 124, 165), rgb(0, 153, 204));
                background-image: -o-linear-gradient(top, rgb(1, 124, 165), rgb(0, 153, 204));
                background-image: -ms-linear-gradient(top, rgb(1, 124, 165), rgb(0, 153, 204));
                background-image: linear-gradient(top, rgb(1, 124, 165), rgb(0, 153, 204));*/
	
				text-decoration:none;
				padding:15px 12px;
				padding-left:35;
				display:block;
				
				border-bottom: 1px solid #4fa1eb;
               -webkit-box-shadow: inset 0px 1px 0px 0px #99D5FF;
               -moz-box-shadow: inset 0px 1px 0px 0px #99D5FF;
                box-shadow: inset 0px 1px 0px 0px #99D5FF;
            
			}
			
			nav li a:hover {
				
			 background:#00337f;
             border-bottom: 1px solid #4fa1eb; 
            
             height: 2.05em;
             line-height: 2.05em;  
			           
             position: relative;
             font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
             font-size: 18px;
             font-weight: 400;
             color: #FFF;
			}
			
		
			
			/*COMIENZO SUBMENU */
			nav  li ul {
				display:none;
				position:absolute;
				min-width:190px;
				left:200px;
				top:124px;
				list-style:none;
				background:#003;
				z-index:1;
				
			}
			
			nav li:hover > ul {
				display:block;
				
			}
			
			ul.submenu{
				padding-left:6px;
				background:#006;
			}
			
			ul.submenu a{
				
				background:#00337f;
			}
			
			/*submenu cuando se selecciona*/
			ul.submenu a:hover{
				
				background:#418bca;
				
             border-bottom: 1px solid #4fa1eb; 
              height: 1.50em;
             line-height: 2.05em;
            
             position: relative;
             font-family: 'Vollkorn', serif;
             font-size: 18px;
             font-weight: 500;
             color: #FFF;
			}
			
			
/*FIN DE CSS SUBMENU*/
/*MENU DE USARIO  LEFT*/

.submenu2 {
				display:none;
				position:absolute;
				min-width:10px;
				left:200px;
				top:292px;
				list-style:none;
				background:#003;
				z-index:1;
				
			}
			
			
			ul.submenu2{
				padding-left:6px;
				background:#006;
			}
			
			ul.submenu2 a{
				
				background:#00337f;
			}
			
			/*submenu cuando se selecciona*/
			ul.submenu2 a:hover{
				
				background:#418bca;
				
             border-bottom: 1px solid #4fa1eb; 
              height: 1.50em;
             line-height: 2.05em;
            
             position: relative;
             font-family: 'Vollkorn', serif;
             font-size: 18px;
             font-weight: 500;
             color: #FFF;
			}
			
/*FIN DE CSS MENU*/						
						
				
				
				
				
				
				
				/*SUBMENU DE consulta LEFT*/

.submenu3 {
				display:none;
				position:absolute;
				min-width:10px;
				left:200px;
				top:179px;
				list-style:none;
				background:#003;
				z-index:1;
				
			}
			
			
			ul.submenu3{
				padding-left:6px;
				background:#006;
			}
			
			ul.submenu3 a{
				
				background:#00337f;
			}
			
			/*submenu cuando se selecciona*/
			ul.submenu3 a:hover{
				
				background:#418bca;
				
             border-bottom: 1px solid #4fa1eb; 
              height: 1.50em;
             line-height: 2.05em;
            
             position: relative;
             font-family: 'Vollkorn', serif;
             font-size: 18px;
             font-weight: 500;
             color: #FFF;
			}
			
/*FIN DE CSS MENU consulta*/	
						



/*SUBMENU DE alertas*/

.submenu4 {
				display:none;
				position:absolute;
				min-width:10px;
				left:200px;
				top:235px;
				list-style:none;
				background:#003;
				z-index:1;
				
			}
			
			
			ul.submenu4{
				padding-left:6px;
				background:#006;
			}
			
			ul.submenu4 a{
				
				background:#00337f;
			}
			
			/*submenu cuando se selecciona*/
			ul.submenu4 a:hover{
				
				background:#418bca;
				
             border-bottom: 1px solid #4fa1eb; 
              height: 1.50em;
             line-height: 2.05em;
            
             position: relative;
             font-family: 'Vollkorn', serif;
             font-size: 18px;
             font-weight: 500;
             color: #FFF;
			}
			
/*FIN DE CSS MENU alertas*/	
						




/*  Animacion de h1 rh+ si queremos que se mueva solo al inicio*/
/*
.Animacion {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
	
  }

  to {
    margin-left: 5%;
    width: 100%;
	
  }
};*/
/*Fin animacion que corra a un lado*/


/*animacion que da la ilucion de girar sobre su eje*/

.Animacion{
    animation-name: rotateinfinite;-webkit-animation-name: rotateinfinite;
    animation-timing-function: linear;-webkit-animation-timing-function: linear;
    animation-iteration-count: infinite;-webkit-animation-iteration-count: infinite;
    animation-duration: 6s;-webkit-animation-duration: 6s;
}

@keyframes rotateinfinite {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
  
}

.animacion:hover {
     animation-play-state: paused;
}
/* FIN animacion que da la ilucion de girar sobre su eje*/

/*FIN ENCABEZADO HEADER*/


/*div contenido IFRAME*/


iframe {
	 position: absolute;
     top: 40px;
     left:204px;
 
     width:85%	;
     height: 100%;
	

	background:url(../imagenes/fondo.png) repeat;
	z-index:0;
  

    	 
}

/*FIN CONTENEDOR DE IFRAME */
	
