@charset "utf-8";
/* CSS Document */

h1,h2,h3{
	color:#223d68;
}


/*BOTONES  FORMULARIO INSERTAR CARGOS */

.button3:hover{
    background: #418BCA;
    border: 1px solid #435C84;
    padding: 5px 15px 5px 15px;
    color: #FFF;
	
    box-shadow: inset -1px -1px 3px #A7C4DC;
    -moz-box-shadow: inset -1px -1px 3px #A7C4DC;
    -webkit-box-shadow: inset -1px -1px 3px #A7C4DC;
	
    border-radius: 3px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;    
    font-weight: bold;
	text-decoration:none;
}

.button3{background: #435C84;
    border: 1px solid #418BCA;
    padding: 5px 15px 5px 15px;
    color: #FFF;
	
    box-shadow: inset -1px -1px 3px #A7C4DC;
    -moz-box-shadow: inset -1px -1px 3px #A7C4DC;
    -webkit-box-shadow: inset -1px -1px 3px #A7C4DC;
	
    border-radius: 3px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;    
    font-weight: bold;
	text-decoration:none;
}
	